{% extends 'base.html' %}

{% block title %}LanzAudit | Resolver solicitud de recuperación de contraseña{% endblock %}
{% block page_title %}Resolver Solicitud de Recuperación de Contraseña{% endblock %}
{% block content %}
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Cambiar Contraseña de <strong>{{ user.username }}</strong></h3>
    </div>
    <div class="card-body">
        <form action="{{ url_for('resolveResetRequest', user_id=user.id) }}" method="POST">
            <div class="input-group mb-3">
                <input type="password" name="new_password" id="new_password" class="form-control" placeholder="Contraseña" required/>
                <div class="input-group-text"><span class="bi bi-lock-fill"></span></div>
                <div class="invalid-feedback">Por favor, introduce una contraseña.</div>
              </div>
            <button type="submit" class="btn btn-primary">Actualizar Contraseña</button>
        </form>
    </div>
</div>
{% endblock %}

{% block extra_scripts %}
<!-- begin::Script Validación -->
<script>
  (() => {
    'use strict';
    const forms = document.querySelectorAll('.needs-validation');
    Array.from(forms).forEach((form) => {
      form.addEventListener(
        'submit',
        (event) => {
          if (!form.checkValidity()) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        },
        false,
      );
    });
  })();
</script>
<!-- end::Script Validación -->
{% endblock %}
