{% extends 'base.html' %}

{% block title %}LanzAudit | Detalles{% endblock %}
{% block page_title %}Detalle Escaneo Nmap{% endblock %}
{% block page_title_2 %}Detalle Escaneo Nmap{% endblock %}

{% block content %}
<div class="container mt-4">
  {% set tipos = {'fast': 'Rápido', 'full': 'Completo', 'versions': 'Detección de Versiones', 'discovery': 'Descubrimiento de Hosts', 'custom': 'Personalizado'} %}
  <h3><i class="bi bi-terminal me-2"></i> Escaneo {{ scan.id }} - Nmap {{ tipos.get(scan.scan_parameters.get('subtype')) }}</h3>
  <p>
    <strong>Fecha:</strong> {{ scan.created_at.strftime('%Y-%m-%d %H:%M:%S') }}<br>
    <strong>Duración:</strong> {{ result['nmap']['scanstats']['elapsed'] }} segundos <br>
    <strong>Comando:</strong> <code>{{ result['nmap']['command_line'] }}</code>
  </p>

  {% set ip = result['scan'] | list | first %}
  {% set host_data = result['scan'][ip] %}
  {% set estadosPuertos = {'open': 'Abierto', 'closed': 'Cerrado', 'filtered': 'Filtrado'} %}
  
  <!--
  <div class="col-md-12">
    <div class="card mb-4">
      <div class="card-header"><h4 class="card-title">Información de la Red o del Host escaneado</h4></div>
      <div class="card-body">
        <div class="row text-center">
          <div class="col-md-3 mb-3">
            <div class="card shadow-sm">
              <div class="card-body">
                <i class="bi bi-list-check fs-2 text-primary"></i>
                <h5 class="mt-2">IP</h5>
                <p class="h4">
                  {{ host_data['addresses']['ipv4'] or 'No disponible'}}
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <div class="card shadow-sm">
              <div class="card-body">
                <i class="bi bi-check-circle fs-2 text-success"></i>
                <h5 class="mt-2">Estado</h5>
                <p class="h4">{{ host_data['status']['state']|capitalize }}</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <div class="card shadow-sm">
              <div class="card-body">
                <i class="bi bi-x-circle fs-2 text-danger"></i>
                <h5 class="mt-2">Hostname</h5>
                <p class="h4">{{ host_data['hostnames'][0]['name'] or 'No disponible' }}</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <div class="card shadow-sm">
              <div class="card-body">
                <i class="bi bi-clock-history fs-2 text-warning"></i>
                <h5 class="mt-2">Sistema Operativo (según el TTL)</h5>
                <p class="h6"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
-->


  {% if scan.scan_parameters.get('subtype') == 'fast' %}
  <div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h3 class="card-title">Puertos encontrados</h3>
    </div>
    <div class="card-body">  
      <table class="table table-bordered table-hover">
        <thead class="thead-dark">
          <tr>
            <th>Puerto</th>
            <th>Servicio</th>
            <th>Estado</th>
          </tr>
        </thead>
        <tbody>
          {% for port, port_data in host_data['tcp'].items() %}
            <tr>
              <td>{{ port }}</td>
              <td>{{ port_data['name']|upper }}</td>
              <td>
                <span class="badge 
                {% if port_data['state'] == 'open' %}
                  bg-success
                {% elif port_data['state'] == 'filtered' %}
                  bg-warning text-dark
                {% elif port_data['state'] == 'closed' %}
                  bg-danger
                {% else %}
                  bg-secondary
                {% endif %}">
                {{ estadosPuertos.get(port_data.get('state'), '—') }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  {% elif scan.scan_parameters.get('subtype') in ['full', 'versions'] %}
  <div class="card mb-3">
    <div class="card-header bg-secondary text-white">Puertos encontrados</div>
    <div class="card-body table-responsive">
      <table class="table table-bordered table-hover">
        <thead class="table-dark">
          <tr>
            <th>Puerto</th>
            <th>Servicio</th>
            <th>Aplicación</th>
            <th>Versión</th>
            <th>Estado</th>
          </tr>
        </thead>
        <tbody>
          {% for port, port_data in host_data['tcp'].items() %}
            <tr>
              <td>{{ port }}</td>
              <td>{{ port_data['name']|upper }}</td>
              <td>{{ port_data.get('product', '—') }}</td>
              <td>{{ port_data.get('version', '—') }}</td>
              <td>{{ estadosPuertos.get(port_data.get('state'), '—') }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% elif scan.scan_parameters.get('subtype') == 'discovery' %}
    <div class="card mb-3">
      <div class="card-header bg-secondary text-white">
        Descubrimiento de Hosts - {{ result['nmap']['scanstats']['uphosts'] }} activos
      </div>
      <div class="card-body table-responsive">
        <table class="table table-bordered table-hover">
          <thead class="table-dark">
            <tr>
              <th>IP</th>
              <th>Hostname</th>
              <th>Estado</th>
            </tr>
          </thead>
          <tbody>
            {% for ip, host_data in result['scan'].items() %}
              {% if host_data['status']['state'] == 'up' %}
                <tr>
                  <td>{{ host_data['addresses']['ipv4'] }}</td>
                  <td>
                    {% if host_data['hostnames'] and host_data['hostnames'][0]['name'] %}
                      {{ host_data['hostnames'][0]['name'] }}
                    {% else %}
                      —
                    {% endif %}
                  </td>
                  <td>{{ host_data['status']['state']|capitalize }}</td>
                </tr>
              {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    {% elif scan.scan_parameters.get('subtype') == 'custom' %}
    <div class="card mb-3">
      <div class="card-header bg-secondary text-white">Puertos encontrados</div>
      <div class="card-body table-responsive">
        <table class="table table-bordered table-hover">
          <thead class="table-dark">
            <tr>
              <th>Puerto</th>
              <th>Servicio</th>
              <th>Aplicación</th>
              <th>Versión</th>
              <th>Estado</th>
            </tr>
          </thead>
          <tbody>
            {% for port, port_data in host_data['tcp'].items() %}
              <tr>
                <td>{{ port }}</td>
                <td>{{ port_data['name']|upper }}</td>
                <td>{{ port_data.get('product', '—') }}</td>
                <td>{{ port_data.get('version', '—') }}</td>
                <td>{{ estadosPuertos.get(port_data.get('state'), '—') }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  {% endif %}
{% endblock %}