{% extends 'base.html' %}

{% block title %}LanzAudit | FAQ{% endblock %}
{% block page_title %}FAQ{% endblock %}
{% block page_title_2 %}FAQ{% endblock %}

{% block content %}
  <div class="card card-outline card-primary" style="width: 100%; max-width: 600px; margin: 0 auto;">
      <div class="card-header text-center">
          <h3 class="m-0">Preguntas Frecuentes (FAQ)</h4>
      </div>
      <div class="card-body">
          <div class="mb-3">
              <h5><strong>¿Qué es LanzAudit?</strong></h5>
              <p>LanzAudit es una aplicación web para realizar auditorías de seguridad en empresas sin necesidad de conocimientos técnicos avanzados en Ciberseguridad.</p>
          </div>
          <div class="mb-3">
              <h5><strong>¿Cómo puedo realizar un escaneo?</strong></h5>
              <p>Inicia sesión en tu cuenta, ve a la sección "Realizar Escaneos" y selecciona las opciones que desees.</p>
          </div>
          <div class="mb-3">
              <h5><strong>¿Qué tipos de escaneos puedo realizar?</strong></h5>
              <p>Ahora mismo puedes realizar escaneos de puertos o de páginas WordPress.</p>
          </div>
          <div class="mb-3">
              <h5><strong>¿Puedo ver los resultados de escaneos anteriores?</strong></h5>
              <p>Sí, los resultados estarán disponibles en la sección "Resultados y Estadísticas".</p>
          </div>
          <div class="mb-3">
              <h5><strong>¿Puedo realizar escaneos programados?</strong></h5>
              <p>No, actualmente LanzAudit no permite escaneos programados.</p>
          </div>
          <div class="mb-3">
              <h5><strong>¿Cómo puedo darme de alta en la aplicación?</strong></h5>
              <p>No puedes hacerlo, solo el Administrador podrá crear y gestionar las cuentas de usuario. Si pierde su contraseña por cualquier motivo, tendrá que enviarle una solicitud de recuperación al Administrador.</p>
          </div>
          <div class="mb-3">
              <h5><strong>¿Tienes alguna otra pregunta?</strong></h5>
              <p>Contacta con nosotros en lanzaudit@gmail.com.</p>
          </div>
      </div>
  </div>
{% endblock %}
