<!doctype html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>LanzAudit | Contraseña olvidada</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="title" content="LanzAudit | Contraseña olvidada" />
    <meta name="author" content="Juan García Lanza" />
    <meta
      name="description"
      content="LanzAudit es una aplicación web para realizar y gestionar auditorías de seguridad sin necesidad de conocimientos técnicos avanzados en Ciberseguridad."
    />
    <meta
      name="keywords"
      content="auditoria seguridad vulnerabilidad dashboard"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@fontsource/source-sans-3@5.0.12/index.css"
      integrity="sha256-tXJfXfp6Ewt1ilPzLDtQnJV4hclT9XuaZUKyUvmyr+Q="
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/overlayscrollbars@2.10.1/styles/overlayscrollbars.min.css"
      integrity="sha256-tZHrRjVqNSRyWg2wbppGnT833E/Ys0DHWGwT04GiqQg="
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
      integrity="sha256-9kPW/n5nn53j4WMRYAxe9c1rCY96Oogo/MKSVdKzPmI="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../static/css/adminlte.css" />
  </head>

  <body class="hold-transition login-page">
    <!-- Contenedor centrado -->
    <div class="login-box">
      <div class="login-logo">
        <strong><b>LanzAudit</b></strong>
      </div>
      <div class="card">
        <div class="card-body login-card-body">
          <p class="login-box-msg">Recuperación de contraseña</p>

          <form class="needs-validation" novalidate action="/forgot-password">
            <div class="card-body">
              <!--begin::Row-->
              <div class="row g-3">
                <!--begin::Col-->
                <div class="col-md-12">
                  <label for="validationCustom01" class="form-label">Correo electrónico</label>
                  <input
                    type="email"
                    class="form-control"
                    id="validationCustom01"
                    placeholder="Introduce tu correo electrónico"
                    required
                  />
                  <div class="valid-feedback">¡Todo bien!</div>
                  <div class="invalid-feedback">Por favor, introduce un correo electrónico válido.</div>
                </div>
                <!--end::Col-->
                <!--begin::Col-->
                <div class="col-md-12">
                  <label for="validationCustom02" class="form-label">Motivo</label>
                  <input
                    type="text"
                    class="form-control"
                    id="validationCustom02"
                    placeholder="Explica brevemente el motivo"
                    required
                  />
                  <div class="valid-feedback">¡Todo bien!</div>
                  <div class="invalid-feedback">Por favor, proporciona el motivo de tu solicitud.</div>
                </div>
                <!--end::Col-->
                <!--begin::Col-->
                <div class="col-md-12">
                  <label for="mensajeAdicional" class="form-label">Mensaje adicional</label>
                  <textarea
                    class="form-control"
                    id="validationCustom03"
                    placeholder="Agrega algún detalle adicional si es necesario"
                  ></textarea>
                </div>
                <!--end::Col-->
              </div>
              <!--end::Row-->
            </div>
            <!--end::Body-->
            <div class="card-footer">
              <button class="btn btn-info" type="submit">Enviar solicitud</button>
            </div>
          </form>

        </div>
      </div>
    </div>
    <!-- /.login-box -->

    <!--begin::Footer-->
    <footer class="app-footer">
      <div class="float-end d-none d-sm-inline">Anything you want</div>
      <strong>
        Copyright &copy; 2014-2024&nbsp;
        <a href="https://adminlte.io" class="text-decoration-none">AdminLTE.io</a>.
      </strong>
      All rights reserved.
    </footer>
    <!--end::Footer-->
    
    <!--begin::Script-->
    <script>
      (() => {
        'use strict';
        const forms = document.querySelectorAll('.needs-validation');
        Array.from(forms).forEach((form) => {
          form.addEventListener(
            'submit',
            (event) => {
              if (!form.checkValidity()) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add('was-validated');
            },
            false,
          );
        });
      })();
    </script>
    <!--end::Script-->
  </body>
</html>
