{% extends 'base.html' %}

{% block title %}LanzAudit | Licencia{% endblock %}
{% block page_title %}Licencia{% endblock %}
{% block page_title_2 %}Licencia{% endblock %}

{% block content %}
  <div class="login-box" style="margin: 0 auto;">
    <div class="card card-outline card-primary">
        <div class="card-header text-center">
            <h3 class="m-0">Licencia de LanzAudit</h2>
        </div>
        <div class="card-body">
            <p class="text-justify">
                Este software está licenciado bajo la   <strong>Creative Commons Attribution-NonCommercial 4. 0 International (CC BY-NC 4.0)</strong>.
            </p>
            <ul>
                <li><strong>Atribución:</strong> Debes dar crédito al autor original.</li>
                <li><strong>No Comercial:</strong> No puedes usar   este software con fines comerciales.</li>
                <li><strong>Uso Permitido:</strong> Puedes  modificarlo y compartirlo, pero sin obtener  beneficios económicos.</li>
            </ul>
            <p>Para más detalles, visita la <a href="https://creativecommons.org/licenses/by-nc/4.0/deed.es"   >página oficial de la licencia</a>.</p>
        </div>
    </div>
  </div>

{% endblock %}
